@model WebApplication1.Models.Person

<div class="container">
    @using (Html.BeginForm("Search", "Person", FormMethod.Post)){
        <div class="row">
            <div class="col">First name:</div>
            <div class="col">@Html.TextBoxFor(m => m.firstName)</div>
        </div>
        
        <div class="row">
            <div class="col">Country:</div>
            <div class="col">@Html.TextBoxFor(m => m.country)</div>
        </div>
        <button type="submit" value="Search">Search</button>
    }
</div>